go 1.18

use (
	.

	// define the plugins
	./plugins/core
	./plugins/dubbo
	./plugins/gin
	./plugins/http
	./plugins/go-restfulv3
	./plugins/gorm

	./test/benchmark-codebase/consumer
	./test/benchmark-codebase/provider

	./test/plugins/runner-helper

	// define the plugin test scenarios
	./test/plugins/scenarios/dubbo
	./test/plugins/scenarios/gin
	./test/plugins/scenarios/http
	./test/plugins/scenarios/go-restfulv3
	./test/plugins/scenarios/gorm

	./test/plugins/scenarios/plugin_exclusion

	./tools/go-agent
)
