go 1.19

use (
	.
	./plugins/amqp

	// define the plugins
	./plugins/core
	./plugins/dubbo
	./plugins/echov4
	./plugins/fasthttp
	./plugins/fiber
	./plugins/gin
	./plugins/go-elasticsearchv8
	./plugins/go-redisv9
	./plugins/go-restfulv3
	./plugins/goframe
	./plugins/gorm
	./plugins/gozero
	./plugins/grpc
	./plugins/http
	./plugins/irisv12
	./plugins/kratosv2
	./plugins/microv4
	./plugins/mongo
	./plugins/mux
	./plugins/pulsar
	./plugins/rocketmq
	./plugins/runtimemetrics
	./plugins/segmentio-kafka
	./plugins/sql
	./plugins/toolkit-activation

	./test/benchmark-codebase/consumer
	./test/benchmark-codebase/provider

	// define the plugin test scenarios
	./test/e2e/base/consumer
	./test/e2e/base/provider

	./test/plugins/runner-helper
	./test/plugins/scenarios/amqp
	./test/plugins/scenarios/cross-goroutine

	./test/plugins/scenarios/dubbo
	./test/plugins/scenarios/echov4
	./test/plugins/scenarios/fasthttp
	./test/plugins/scenarios/fiber
	./test/plugins/scenarios/gin
	./test/plugins/scenarios/go-elasticsearchv8
	./test/plugins/scenarios/go-redisv9
	./test/plugins/scenarios/go-restfulv3
	./test/plugins/scenarios/goframe
	./test/plugins/scenarios/gorm
	./test/plugins/scenarios/gozero
	./test/plugins/scenarios/grpc
	./test/plugins/scenarios/http
	./test/plugins/scenarios/irisv12
	./test/plugins/scenarios/kratosv2
	./test/plugins/scenarios/logging-activation
	./test/plugins/scenarios/logrus
	./test/plugins/scenarios/metric-activation
	./test/plugins/scenarios/microv4
	./test/plugins/scenarios/mongo
	./test/plugins/scenarios/mux
	./test/plugins/scenarios/mysql

	./test/plugins/scenarios/plugin_exclusion
	./test/plugins/scenarios/pulsar
	./test/plugins/scenarios/rocketmq
	./test/plugins/scenarios/runtime_metrics
	./test/plugins/scenarios/segmentio-kafka
	./test/plugins/scenarios/short_versions_gin
	./test/plugins/scenarios/so11y
	./test/plugins/scenarios/trace-activation
	./test/plugins/scenarios/zap

	./toolkit

	./tools/go-agent
)
