go 1.18

use (
	.
	./tools/go-agent

	./test/plugins/runner-helper

	./test/benchmark-codebase/provider
	./test/benchmark-codebase/consumer

	// define the plugins
	./plugins/core
	./plugins/ginv2
	./plugins/http

	// define the plugin test scenarios
	./test/plugins/scenarios/gin
	./test/plugins/scenarios/http
)
